<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="sourceDir" value="D:\source"/>
		<add key="targetDir" value="D:\target"/>
		<add key="applicationLogDir" value="D:\target\appLogs"/>
		<add key="applicationLogFileName" value="decompress_tool_log.txt"/>
		<add key="processedFileLogDir" value="D:\target\processedFilesLog"/>
		<add key="processedFileName" value="processed.csv"/>
	</appSettings>
</configuration>